Add your information below and submit the file via canvas (till the end of the day) to claim points for the participation point.

**Name**: 

**Group number**:

**Collaborators**:

## Bootcamp B2: Pandas Example

In [2]:
import pandas as pd
hit_albums = pd.read_csv("hit_albums.csv")
hit_albums.head()

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
0,Michael Jackson,Thriller,1982,"Pop, rock, R&B",45.4,65.0
1,AC/DC,Back in Black,1980,Hard rock,25.9,50.0
2,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,22.7,45.0
3,Whitney Houston / Various artists,The Bodyguard,1992,"Soundtrack/R&B, soul, pop",27.4,44.0
4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, progressive rock",20.6,43.0

- Calculate the mean certified sales for all albums.

In [5]:
from numpy import mean

certified_sales = hit_albums["Certified sales (millions)"]
avg = mean(certified_sales)
print(avg)

22.40909090909091

- Create a new dataframe that only contains albums with more than 20 million certified sales.

In [9]:
albums_over_20m = pd.DataFrame(hit_albums[certified_sales > 20])
albums_over_20m.head()

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
0,Michael Jackson,Thriller,1982,"Pop, rock, R&B",45.4,65.0
1,AC/DC,Back in Black,1980,Hard rock,25.9,50.0
2,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,22.7,45.0
3,Whitney Houston / Various artists,The Bodyguard,1992,"Soundtrack/R&B, soul, pop",27.4,44.0
4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, progressive rock",20.6,43.0

- Create a new dataframe based on the `hit_albums` dataset that only contains the artists that have at least two albums in the list.

In [46]:
artists = hit_albums['Artist'].value_counts()
artists = artists[artists >= 2]
df = pd.DataFrame()
df

    Artist
0    False
1    False
2    False
3    False
4    False
..     ...
72   False
73   False
74   False
75   False
76   False

[77 rows x 1 columns]

- Create a new dataframe that contains the aggregates sum of all certified sales for each year.